* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

body {
  color: #fafaf9;
  background-color: #1c1917;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.superinfo-bg {
  padding-block: 0.5rem;
  background-color: #064e3b;
}

.superinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 0 auto;
  padding-inline: 0.5rem;
}

@media (max-width: 600px) {
  .superinfo {
    justify-content: space-around;
    gap: 1rem;
  }
}

.menu-bg {
  padding: 1rem;
  background-color: #065f46;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 60rem;
  margin: 0 auto;
}

.menu-logo a {
  font-size: 2.25rem;
  font-weight: 700;
}

.menu nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.menu nav a {
  display: block;
  padding-block: 0.5rem;
  font-size: 1.25rem;
  transition: all 200ms;
}

.menu nav a:hover {
  color: #6EE7B7;
}

@media (max-width: 600px) {
  .menu nav ul {
    justify-content: center;
  }

  .menu nav a {
    padding: 0.5rem 1rem;
    background-color: #047857;
  }
}

.introduction {
  font-size: 3rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 3.75rem 0.5rem;
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 3.75rem 0.5rem;
  border-block: 2px solid #064e3b;
}

.about-info {
  flex: 2 1 19rem;
}

.about-info h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.about-info p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #a8a29e;
}


.about-image {
  flex: 1 1 10rem;
}

.about-image img {
  width: 100%;
}

.products {
  max-width: 60rem;
  margin: 0 auto;
  padding: 3.75rem 0.5rem;
}

.products h1 {
  font-size: 3rem;
  margin-bottom: 3.75rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1rem;
}

.product {
  flex: 1 1 11rem;
}

.product h2 {
  padding: 3.75rem 1.25rem;
  font-size: 3rem;
  color: #71717A;
  background-color: #27272A;
}

.purple {
  border-top: 0.5rem solid #AE81FF;
}

.pink {
  border-top: 0.5rem solid #F9265E;
}

.blue {
  border-top: 0.5rem solid #66d9eb;
}

.price {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3.75rem;
  background-color: #27272A;
}

.price-item {
  flex: 1;
  padding: 2.5rem 1.25rem;
  border: 0.25rem solid #064E3B;
  background-color: #18181B;
}

.price-item h2 {
  font-size: 3rem;
  text-align: center;
  color: #71717A;
}

.price-item span {
  display: block;
  max-width: 20rem;
  margin: 1.25rem auto;
  padding-block: 1.25rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  border-block: 0.25rem solid #064E3B;
  color: #34D399;
}

.price-item sup {
  font-size: 1.5rem;
}

.price-item ul {
  max-width: 20rem;
  margin: 1.25rem auto;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 2;
  color: #A1A1AA;
}

.price-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-item li::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #34D399;
}

.price-item a {
  display: block;
  max-width: 20rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #065f46;
  transition: all 200ms;
}

.price-item a:hover {
  background-color: #047857;
}

@media (max-width: 600px) {
  .price {
    padding-inline: 0.5rem;
  }

  .price-item:nth-child(2) {
    order: -1;
  }

  .price-item:nth-child(3) {
    order: -2;
  }
}